[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes_global
[apply]
  whitespace = nowarn
[rerere]
  enabled = 1
[alias]
  st = status -sb
  co = checkout
  com = commit -m
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ctags = !.git/hooks/ctags
  root = rev-parse --show-toplevel
  stashp = stash push -p
  info = for-each-ref --format='%(color:yellow)%(committerdate:iso8601) %(color:blue)%(objectname:short) %(color:magenta)%(authorname) %(color:green)%(refname:short) %(color:reset)%(contents:subject)' --sort -committerdate
  label = "!git config branch.$(git symbolic-ref --short HEAD).note $(if [ $# -gt 0 ]; then $1; fi)"
  sch = "!git checkout $(git branch --all | fzf | tr -d '[:space:]')"
[format]
  pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
[gpg]
  program = gpg
[init]
  templatedir = ~/.git_template
[status]
  submoduleSummary = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
