configuration {
  matching: "fuzzy";
  location: 2;
}

* {
  background-color:           #{{base00-hex}};
  border-color:               #{{base09-hex}};
  text-color:                 #{{base05-hex}};
  prompt-background:          #{{base09-hex}};
  prompt-foreground:          #{{base00-hex}};
  selected-normal-background: #{{base09-hex}};
  selected-normal-foreground: #{{base00-hex}};
  font:                       "Iosevka 18";
  prompt-font:                "Iosevka 18";
  prompt-padding:             2px 0.5em;
}

#window {
  anchor: north;
  location: north;
  width: 100%;
  padding: 0px;
  children: [ horibox ];
}

#horibox {
  orientation: horizontal;
  children: [ prompt, entry, listview ];
}

#prompt {
  padding:          @prompt-padding;
  background-color: @prompt-background;
  text-color:       @prompt-foreground;
  font:             @prompt-font;
}

#listview {
  layout: horizontal;
  spacing: 2px;
  lines: 100;
}

#entry {
  padding: 2px 4px;
  expand: false;
  width: 10em;
}

#element {
  padding: 2px 8px;
}

#element selected {
  background-color: @selected-normal-background;
  text-color:       @selected-normal-foreground;
}
