[Desktop Entry]
StartupWMClass=ncdu
Version=1.0
Name=Disk usage
GenericName=Disk Usage
GenericName[pl]=Zużycie dysku
Exec=ncdu
Terminal=true
Icon=disk
Type=Application
