[Desktop Entry]
StartupWMClass=nmtui
Version=1.0
Name=Network manager
GenericName=Network Manager
GenericName[pl]=Menadżer sieci
Exec=nmtui
Terminal=true
Icon=network
Type=Application
