Config { font            = "xft:{{font}}:size={{font-size}}:antialias=true:hinting=true"
       , additionalFonts = []
       , bgColor         = "#{{base00-hex}}"
       , fgColor         = "#{{base05-hex}}"
       , position        = TopW L 100
       , lowerOnStart    = True
       , sepChar         = "%"
       , alignSep        = "}{"
       , template        = "%UnsafeStdinReader%}{%statuses%%multicpu%%multicoretemp%%memory%%disku%%default:Master%%battery%%dynnetwork%%wlp4s0wi%%date%"
       , commands        = [ Run ComX                     "statuses" [] "" "statuses" 100
                           , Run MultiCpu                  [ "-t", "<autovbar> "
                                                           , "-L", "30", "-H", "70"
                                                           , "-n", "#{{base0A-hex}}", "-h", "#{{base08-hex}}"
                                                           ] 10
                            , Run MultiCoreTemp            [ "-t", "\xE0B3 <avg>°C "
                                                           , "-L", "60", "-H", "80"
                                                           , "-n", "#{{base0A-hex}}", "-h", "#{{base08-hex}}"
                                                           , "--", "--mintemp", "20", "--maxtemp", "100"
                                                           ] 10
                           , Run Memory                    [ "-t", "\xE0B3 mem <usedvbar> "
                                                           , "-L", "30", "-H", "70"
                                                           , "-n", "#{{base0A-hex}}", "-h", "#{{base08-hex}}"
                                                           ] 10
                           , Run DiskU                     [ ("/", "\xE0B3 drv <usedvbar> ") ]
                                                           [ "-L", "30", "-H", "70"
                                                           , "-n", "#{{base0A-hex}}", "-h", "#{{base08-hex}}"
                                                           ] 100
                           , Run Volume "default" "Master" [ "-t", "\xE0B3 <status> <volumevbar> "
                                                           , "--"
                                                           , "-C", "#{{base05-hex}}", "-c", "#{{base05-hex}}"
                                                           , "-O", "vol", "-o", "v̶o̶l̶"
                                                           ] 10
                           , Run Battery                   [ "-t", "\xE0B3 <acstatus> "
                                                           , "--"
                                                           , "-O", "ac <leftvbar>"
                                                           , "-i", "ac <leftvbar>"
                                                           , "-o", "bat <timeleft> <leftvbar>"
                                                           , "-a", "notify-send -u critical 'battery low'", "-A", "10"
                                                           ] 50
                           , Run DynNetwork                [ "-t", "<fc=#{{base02-hex}},#{{base00-hex}}>\xE0B2</fc><fc=#{{base05-hex}},#{{base02-hex}}> <dev> <rx>↓↑<tx> </fc>", "--", "--devices", "enp0s3"] 10
                           , Run Wireless "wlp4s0"         [ "-t", "<fc=#{{base05-hex}},#{{base02-hex}}>\xE0B3 <ssid> <qualityvbar> </fc>" ] 10
                           , Run Date "<fc=#{{base03-hex}},#{{base02-hex}}>\xE0B2</fc><fc=#{{base05-hex}},#{{base03-hex}}> %a \xE0B3 %H:%M \xE0B3 %d.%m.%Y </fc>" "date" 10
                           , Run UnsafeStdinReader
                           ]
       }
