#define base00 #{{base00-hex}}
#define base01 #{{base01-hex}}
#define base02 #{{base02-hex}}
#define base03 #{{base03-hex}}
#define base04 #{{base04-hex}}
#define base05 #{{base05-hex}}
#define base06 #{{base06-hex}}
#define base07 #{{base07-hex}}
#define base08 #{{base08-hex}}
#define base09 #{{base09-hex}}
#define base0A #{{base0A-hex}}
#define base0B #{{base0B-hex}}
#define base0C #{{base0C-hex}}
#define base0D #{{base0D-hex}}
#define base0E #{{base0E-hex}}
#define base0F #{{base0F-hex}}

*foreground:   base0F
*background:   base00
*cursorColor:  base0F
*color0:       base00
*color1:       base01
*color2:       base02
*color3:       base03
*color4:       base04
*color5:       base05
*color6:       base06
*color7:       base07
*color8:       base08
*color9:       base09
*color10:      base0A
*color11:      base0B
*color12:      base0C
*color13:      base0D
*color14:      base0E
*color15:      base0F

*termName:     xterm-256color

Xft.dpi:       96
Xft.autohint:  true
Xft.lcdfilter: lcdfilter
Xft.hintstyle: hintslight
Xft.hinting:   true
Xft.antialias: true
Xft.rgba:      rgb
