configuration {
  matching: "fuzzy";
  modi: "drun,run,combi";
  combi-modi: "drun,run";
  location: 2;
}

* {
  background-color: #34495E;
  text-color: #ECF0F1;
  spacing: 0;
  width: 512px;
  font: "Iosevka 12";
}

inputbar {
  children: [prompt,entry];
}

prompt {
  padding: 8px;
}

textbox {
  padding: 4px;
}

entry {
  padding: 8px 16px;
}

listview {
  cycle: false;
  scrollbar: false;
}

element {
  padding: 8px;
}

element selected {
  background-color: #3498DB;
}
