base00 = "#{{base00-hex}}"
base01 = "#{{base01-hex}}"
base02 = "#{{base02-hex}}"
base03 = "#{{base03-hex}}"
base04 = "#{{base04-hex}}"
base05 = "#{{base05-hex}}"
base06 = "#{{base06-hex}}"
base07 = "#{{base07-hex}}"
base08 = "#{{base08-hex}}"
base09 = "#{{base09-hex}}"
base0A = "#{{base0A-hex}}"
base0B = "#{{base0B-hex}}"
base0C = "#{{base0C-hex}}"
base0D = "#{{base0D-hex}}"
base0E = "#{{base0E-hex}}"
base0F = "#{{base0F-hex}}"

config.load_autoconfig(False)

config.set('content.images', True, 'chrome-devtools://*')
config.set('content.images', True, 'devtools://*')
config.set('content.javascript.enabled', True, 'chrome-devtools://*')
config.set('content.javascript.enabled', True, 'devtools://*')
config.set('content.javascript.enabled', True, 'chrome://*/*')
config.set('content.javascript.enabled', True, 'qute://*/*')
config.set('content.notifications.enabled', True, 'https://app.slack.com/*')
config.set('content.notifications.enabled', True, 'https://messages.google.com/*')

config.set('tabs.padding', {"bottom": 4, "left": 4, "right": 4, "top": 4})
config.set('tabs.tooltips', False)
config.set('tabs.indicator.width', 0);

c.aliases = {'q': 'quit', 'w': 'session-save', 'wq': 'quit --save'}
c.downloads.location.directory = '/home/placek/Downloads'
c.tabs.show = 'always'
c.url.start_pages = ['https://www.google.com']
c.url.searchengines = {
  'DEFAULT': 'https://www.google.com/search?q={}',
  'hoogle': 'https://hoogle.haskell.org/?hoogle={}',
  'nixos': 'https://search.nixos.org/packages?query={}',
  'wiki': 'https://en.wikipedia.org/wiki/{}',
  'yt': 'https://www.youtube.com/results?search_query={}',
  'duck': 'https://duckduckgo.com/?q={}'
}

c.colors.completion.fg = base05
c.colors.completion.odd.bg = base01
c.colors.completion.even.bg = base00
c.colors.completion.category.fg = base0A
c.colors.completion.category.bg = base00
c.colors.completion.category.border.top = base00
c.colors.completion.category.border.bottom = base00
c.colors.completion.item.selected.fg = base05
c.colors.completion.item.selected.bg = base02
c.colors.completion.item.selected.border.top = base02
c.colors.completion.item.selected.border.bottom = base02
c.colors.completion.item.selected.match.fg = base0B
c.colors.completion.match.fg = base0B
c.colors.completion.scrollbar.fg = base05
c.colors.completion.scrollbar.bg = base00
c.colors.contextmenu.menu.bg = base00
c.colors.contextmenu.menu.fg =  base05
c.colors.contextmenu.selected.bg = base02
c.colors.contextmenu.selected.fg = base05
c.colors.downloads.bar.bg = base00
c.colors.downloads.start.fg = base00
c.colors.downloads.start.bg = base0D
c.colors.downloads.stop.fg = base00
c.colors.downloads.stop.bg = base0C
c.colors.downloads.error.fg = base08
c.colors.hints.fg = base00
c.colors.hints.bg = base0A
c.colors.hints.match.fg = base05
c.colors.keyhint.fg = base05
c.colors.keyhint.suffix.fg = base05
c.colors.keyhint.bg = base00
c.colors.messages.error.fg = base00
c.colors.messages.error.bg = base08
c.colors.messages.error.border = base08
c.colors.messages.warning.fg = base00
c.colors.messages.warning.bg = base0E
c.colors.messages.warning.border = base0E
c.colors.messages.info.fg = base05
c.colors.messages.info.bg = base00
c.colors.messages.info.border = base00
c.colors.prompts.fg = base05
c.colors.prompts.border = base00
c.colors.prompts.bg = base00
c.colors.prompts.selected.bg = base02
c.colors.statusbar.normal.fg = base0B
c.colors.statusbar.normal.bg = base00
c.colors.statusbar.insert.fg = base00
c.colors.statusbar.insert.bg = base0D
c.colors.statusbar.passthrough.fg = base00
c.colors.statusbar.passthrough.bg = base0C
c.colors.statusbar.private.fg = base00
c.colors.statusbar.private.bg = base01
c.colors.statusbar.command.fg = base05
c.colors.statusbar.command.bg = base00
c.colors.statusbar.command.private.fg = base05
c.colors.statusbar.command.private.bg = base00
c.colors.statusbar.caret.fg = base00
c.colors.statusbar.caret.bg = base0E
c.colors.statusbar.caret.selection.fg = base00
c.colors.statusbar.caret.selection.bg = base0D
c.colors.statusbar.progress.bg = base0D
c.colors.statusbar.url.fg = base05
c.colors.statusbar.url.error.fg = base08
c.colors.statusbar.url.hover.fg = base05
c.colors.statusbar.url.success.http.fg = base0C
c.colors.statusbar.url.success.https.fg = base0B
c.colors.statusbar.url.warn.fg = base0E
c.colors.tabs.bar.bg = base00
c.colors.tabs.indicator.start = base0D
c.colors.tabs.indicator.stop = base0C
c.colors.tabs.indicator.error = base08
c.colors.tabs.odd.fg = base05
c.colors.tabs.odd.bg = base01
c.colors.tabs.even.fg = base05
c.colors.tabs.even.bg = base00
c.colors.tabs.pinned.even.bg = base0C
c.colors.tabs.pinned.even.fg = base07
c.colors.tabs.pinned.odd.bg = base0B
c.colors.tabs.pinned.odd.fg = base07
c.colors.tabs.pinned.selected.even.bg = base02
c.colors.tabs.pinned.selected.even.fg = base05
c.colors.tabs.pinned.selected.odd.bg = base02
c.colors.tabs.pinned.selected.odd.fg = base05
c.colors.tabs.selected.odd.fg = base05
c.colors.tabs.selected.odd.bg = base02
c.colors.tabs.selected.even.fg = base05
c.colors.tabs.selected.even.bg = base02

c.fonts.default_family = '"{{font}}"'
c.fonts.default_size = '{{font-size}}pt'
c.fonts.completion.entry = '{{font-size}}pt "{{font}}"'
c.fonts.debug_console = '{{font-size}}pt "{{font}}"'
c.fonts.prompts = 'default_size sans-serif'
c.fonts.statusbar = '{{font-size}}pt "{{font}}"'

config.bind('Ym', 'hint links spawn kitty -e youtube-dl -x {hint-url} -o ~/Downloads/%(title)s.%(ext)s')
config.bind('Yv', 'hint links spawn kitty -e youtube-dl {hint-url} -o ~/Downloads/%(title)s.%(ext)s')
config.bind('gt', 'set-cmd-text -s :open -t')
config.bind('xt', 'config-cycle tabs.show always never')
