background            #{{base00-hex}}
foreground            #{{base0F-hex}}
title_fg              #{{base0F-hex}}
title_bg              #{{base08-hex}}

margin_bg             #{{base00-hex}}
margin_fg             #{{base0F-hex}}

removed_bg            #{{base01-hex}}
highlight_removed_bg  #{{base09-hex}}
removed_margin_bg     #{{base00-hex}}

added_bg              #{{base02-hex}}
highlight_added_bg    #{{base0A-hex}}
added_margin_bg       #{{base00-hex}}

filler_bg             #fafbfc
margin_filler_bg      none

hunk_margin_bg        #{{base00-hex}}
hunk_bg               #{{base00-hex}}

search_bg             #{{base0B-hex}}
search_fg             #{{base00-hex}}

select_bg             #{{base0C-hex}}
select_fg             #{{base00-hex}}
