# Fonts
font_family                   {{font}} Nerd Font
bold_font                     {{font}} Nerd Font Bold
italic_font                   {{font}} Nerd Font Italic
bold_italic_font              {{font}} Nerd Font BoldItalic
font_size                     {{font-size}}.0
force_ltr                     no
disable_ligatures             always
font_features                 none
box_drawing_scale             0.001, 1, 1.5, {{border-half-size}}

# Cursor customization
cursor_shape                  block
cursor_blink_interval         1
cursor_stop_blinking_after    15.0

# Scrollback
scrollback_lines              2000
scrollback_pager              less --chop-long-lines --RAW-CONTROL-CHARS +INPUT_LINE_NUMBER
scrollback_pager_history_size 9999
wheel_scroll_multiplier       5.0
touch_scroll_multiplier       1.0

# Mouse
mouse_hide_wait               3.0
url_style                     curly
open_url_with                 default
url_prefixes                  file ftp ftps gemini git gopher http https irc ircs kitty mailto news sftp ssh
detect_urls                   yes
copy_on_select                no
select_by_word_characters     @-./_~?&=%+#
click_interval                -1.0
focus_follows_mouse           no

# Performance tuning
repaint_delay                 10
input_delay                   3
sync_to_monitor               yes

# Terminal bell
enable_audio_bell             no
visual_bell_duration          0.0
window_alert_on_bell          no
bell_on_tab                   no
command_on_bell               none

# Window layout
remember_window_size          no
enabled_layouts               tall:bias=70;full_size=2
window_resize_step_cells      {{border-half-size}}
window_resize_step_lines      {{border-half-size}}
window_border_width           {{border-size}}px
draw_minimal_borders          yes
window_margin_width           0
window_padding_width          {{border-size}}
placement_strategy            center
inactive_text_alpha           0.6
hide_window_decorations       yes
resize_debounce_time          0.1
resize_draw_strategy          static
resize_in_steps               no
confirm_os_window_close       0
single_window_margin_width    -1

# Tab bar
tab_bar_edge                  bottom
tab_bar_background            none
tab_bar_margin_width          0.0
tab_bar_min_tabs              2
tab_bar_style                 powerline
tab_switch_strategy           previous
tab_title_template            "{fmt.fg.yellow}{bell_symbol}{activity_symbol}{fmt.fg.tab}{title}"

# Advanced
shell                         .
editor                        .
close_on_child_death          yes
allow_remote_control          no
update_check_interval         0
startup_session               none
clipboard_control             write-clipboard write-primary
allow_hyperlinks              yes
shell_integration             no-cursor
strip_trailing_spaces         never
term                          xterm-kitty
kitty_mod                     ctrl+shift

# Keyboard shortcuts
clear_all_shortcuts           yes
clear_all_mouse_actions       yes

map super+c                   copy_to_clipboard
map super+v                   paste_from_clipboard
map super+x                   pass_selection_to_program

map kitty_mod+h               change_font_size all -2.0
map kitty_mod+k               scroll_line_up
map kitty_mod+j               scroll_line_down
map kitty_mod+l               change_font_size all +2.0
map kitty_mod+up              scroll_to_prompt -1
map kitty_mod+down            scroll_to_prompt +1
map kitty_mod+.               show_scrollback
map kitty_mod+,               show_last_command_output

map kitty_mod+enter           launch --type=window --cwd=current --title current
map kitty_mod+c               launch --type=tab --cwd=current --title current
map kitty_mod+right           next_window
map kitty_mod+left            previous_window
map kitty_mod+up              next_tab
map kitty_mod+down            previous_tab
map kitty_mod+x               close_tab
map kitty_mod+t               set_tab_title

map kitty_mod+f               kitten hints --alphabet "asdfghjkl" --type hyperlink
map kitty_mod+d               kitten hints --alphabet "asdfghjkl" --regex "([0-9a-fA-F-]+)" --type regex --program -
map kitty_mod+s               kitten hints --alphabet "asdfghjkl" --type hash --program -
map kitty_mod+a               kitten hints --alphabet "asdfghjkl" --type path --program -
map kitty_mod+e               kitten unicode_input

map kitty_mod+alt+left        resize_window narrower
map kitty_mod+alt+right       resize_window wider
map kitty_mod+alt+up          resize_window taller
map kitty_mod+alt+down        resize_window shorter

mouse_map left press          ungrabbed mouse_selection normal
mouse_map left click          ungrabbed mouse_handle_click selection link prompt
mouse_map left                doublepress ungrabbed mouse_selection word
mouse_map left                triplepress ungrabbed mouse_selection line
mouse_map ctrl+left           press       ungrabbed mouse_selection rectangle
mouse_map right               press       ungrabbed mouse_selection extend
mouse_map ctrl+right          press       ungrabbed mouse_select_command_output

# Color scheme
active_border_color           #{{base03-hex}}
inactive_border_color         #{{base08-hex}}
bell_border_color             #{{base03-hex}}

background                    #{{base00-hex}}
foreground                    #{{base0F-hex}}
selection_background          #{{base04-hex}}
selection_foreground          #{{base0F-hex}}
url_color                     #{{base04-hex}}
cursor                        #{{base0F-hex}}

# black
color0                        #{{base00-hex}}
color8                        #{{base08-hex}}

# red
color1                        #{{base01-hex}}
color9                        #{{base09-hex}}

# green
color2                        #{{base02-hex}}
color10                       #{{base0A-hex}}

# yellow
color3                        #{{base03-hex}}
color11                       #{{base0B-hex}}

# blue
color4                        #{{base04-hex}}
color12                       #{{base0C-hex}}

# magenta
color5                        #{{base05-hex}}
color13                       #{{base0D-hex}}

# cyan
color6                        #{{base06-hex}}
color14                       #{{base0E-hex}}

# white
color7                        #{{base07-hex}}
color15                       #{{base0F-hex}}
