[user]
  name             = Paweł Placzyński
  email            = placzynski.pawel@gmail.com
  signingkey       = 1D95E554315BC053
[github]
  user             = placek
[core]
  editor           = "vim"
  attributesfile   = ~/.gitattributes_global
  excludesfile     = ~/.gitignore_global
  whitespace       = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[apply]
  whitespace       = nowarn
[rerere]
  enabled          = 1
[alias]
  adi              = add -i
  amend            = commit --amend --no-edit
  co               = checkout
  com              = commit -m
  diffc            = diff --cached
  info             = for-each-ref --format='%(color:yellow)%(committerdate:iso8601) %(color:blue)%(objectname:short) %(color:magenta)%(authorname) %(color:green)%(refname:short) %(color:reset)%(contents:subject)' --sort -committerdate
  l                = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pu               = push --tags origin
  purge            = reset --hard
  root             = rev-parse --show-toplevel
  st               = status -sb
  stashp           = stash push -p
[format]
  pretty           = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
[gpg]
  program          = gpg
[status]
  submoduleSummary = true
[diff]
  tool             = vimdiff
[difftool]
  trustExitCode    = true
[mergetool]
  trustExitCode    = true
[merge]
  tool             = vimdiff
  conflictstyle    = diff3
[pull]
  ff               = only
