set adjust-open             "best-fit"
set font                    "{{font}} {{font-size}}"
set guioptions              ""
set pages-per-row           1
set recolor                 "false"
set recolor-keephue         "false"
set render-loading          "false"
set scroll-full-overlap     0.01
set scroll-page-aware       "true"
set scroll-step             100
set scroll-step             50
set zoom-min                10

set default-bg              "#{{base00-hex}}"
set default-fg              "#{{base05-hex}}"
set statusbar-fg            "#{{base05-hex}}"
set statusbar-bg            "#{{base00-hex}}"
set inputbar-bg             "#{{base00-hex}}"
set inputbar-fg             "#{{base05-hex}}"
set notification-bg         "#{{base00-hex}}"
set notification-fg         "#{{base07-hex}}"
set notification-error-bg   "#{{base00-hex}}"
set notification-error-fg   "#{{base08-hex}}"
set notification-warning-bg "#{{base00-hex}}"
set notification-warning-fg "#{{base08-hex}}"
set highlight-color         "#{{base0A-hex}}"
set highlight-active-color  "#{{base0D-hex}}"
set completion-bg           "#{{base00-hex}}"
set completion-fg           "#{{base0D-hex}}"
set completion-highlight-fg "#{{base07-hex}}"
set completion-highlight-bg "#{{base00-hex}}"
set recolor-lightcolor      "#{{base00-hex}}"
set recolor-darkcolor       "#{{base06-hex}}"
